header > a {
    font-size: 20px;
    font-family: sans-serif;
    margin-right: 15px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: antiquewhite;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

h1.music {
    font-family: sans-serif;
    color: darkblue;
    margin-top: 55px;
}

h1.election {
    font-family: sans-serif;
    color: darkblue;
    margin-top: 85px;
}


.map-boundary {
    stroke: #eee;
}

div {
    display: inline-block;
}




































/* 地圖一設定 */

.Alternative {
    width: 100px;
    height: 30px;
    background-color: grey;
    text-align: center;
    padding: 0;
    margin-left: 70px;
    margin-right: 5px;
}

.Alternative > p {
    color: white;
    margin: 0;
    line-height: 30px;
    font-family: sans-serif;
}

.Country {
    width: 100px;
    height: 30px;
    background-color: #eaf405;
    text-align: center;
    padding: 0;
    margin-right: 8px;
}

.Country > p {
    color: black;
    margin: 0;
    line-height: 30px;
    font-family: sans-serif;
}

.EDM {
    width: 100px;
    height: 30px;
    background-color: #00aceb;
    text-align: center;
    padding: 0;
    margin-right: 8px;
}

.EDM > p {
    color: white;
    margin: 0;
    line-height: 30px;
    font-family: sans-serif;
}

.Metal {
    width: 100px;
    height: 30px;
    background-color: purple;
    text-align: center;
    padding: 0;
    margin-right: 8px;
}

.Metal > p {
    color: white;
    margin: 0;
    line-height: 30px;
    font-family: sans-serif;
}

.Folk_Rock {
    width: 100px;
    height: 30px;
    background-color: black;
    text-align: center;
    padding: 0;
    margin-right: 8px;
}

.Folk_Rock > p {
    color: white;
    margin: 0;
    line-height: 30px;
    font-family: sans-serif;
}

.Latin {
    width: 100px;
    height: 30px;
    background-color: orange;
    text-align: center;
    padding: 0;
    margin-right: 8px;
}

.Latin > p {
    color: white;
    margin: 0;
    line-height: 30px;
    font-family: sans-serif;
}

.Pop {
    width: 100px;
    height: 30px;
    background-color: #039887;
    text-align: center;
    padding: 0;
    margin-right: 8px;
}

.Pop > p {
    color: white;
    margin: 0;
    line-height: 30px;
    font-family: sans-serif;
}


.Rock {
    width: 100px;
    height: 30px;
    background-color: #d83737;
    text-align: center;
    padding: 0;
    margin-right: 8px;
}

.Rock > p {
    color: white;
    margin: 0;
    line-height: 30px;
    font-family: sans-serif;
}

.music > path:nth-child(1) {
    fill: black;
}

.music > path:nth-child(2) {
    fill: grey;
}

.music > path:nth-child(3) {
    fill: purple;
}

.music > path:nth-child(4) {
    fill: green;
}

.music > path:nth-child(5) {
    fill: #eaf405;
}

.music > path:nth-child(6) {
    fill: black;
}

.music > path:nth-child(7) {
    fill: purple;
}

.music > path:nth-child(8) {
    fill: #039887;
}

.music > path:nth-child(9) {
    fill: black;
}

.music > path:nth-child(10) {
    fill: #00aceb;
}

.music > path:nth-child(11) {
    fill: grey;
}

.music > path:nth-child(12) {
    fill: grey;
}

.music > path:nth-child(13) {
    fill: #eaf405;
}

.music > path:nth-child(14) {
    fill: black;
}

.music > path:nth-child(15) {
    fill: #eaf405;
}

.music > path:nth-child(16) {
    fill: black;
}

.music > path:nth-child(17) {
    fill: purple;
}

.music > path:nth-child(18) {
    fill: grey;
}

.music > path:nth-child(19) {
    fill: grey;
}

.music > path:nth-child(20) {
    fill: purple;
}

.music > path:nth-child(21) {
    fill: purple;
}

.music > path:nth-child(22) {
    fill: #d83737;
}

.music > path:nth-child(23) {
    fill: orange;
}

.music > path:nth-child(24) {
    fill: purple;
}

.music > path:nth-child(25) {
    fill: black;
}

.music > path:nth-child(26) {
    fill: #eaf405;
}

.music > path:nth-child(27) {
    fill: #d83737;
}

.music > path:nth-child(28) {
    fill: black;
}

.music > path:nth-child(29) {
    fill: #eaf405;
}

.music > path:nth-child(30) {
    fill: orange;
}

.music > path:nth-child(31) {
    fill: #d83737;
}

.music > path:nth-child(32) {
    fill: #d83737;
}

.music > path:nth-child(33) {
    fill: #d83737;
}

.music > path:nth-child(34) {
    fill: #d83737;
}

.music > path:nth-child(35) {
    fill: #d83737;
}

.music > path:nth-child(36) {
    fill: #d83737;
}

.music > path:nth-child(37) {
    fill: black;
}

.music > path:nth-child(38) {
    fill: #eaf405;
}

.music > path:nth-child(39) {
    fill: black;
}

.music > path:nth-child(40) {
    fill: #eaf405;
}

.music > path:nth-child(41) {
    fill: #eaf405;
}

.music > path:nth-child(42) {
    fill: #eaf405;
}

.music > path:nth-child(43) {
    fill: #eaf405;
}

.music > path:nth-child(44) {
    fill: #eaf405;
}

.music > path:nth-child(45) {
    fill: black;
}

.music > path:nth-child(46) {
    fill: #d83737;
}

.music > path:nth-child(47) {
    fill: #d83737;
}

.music > path:nth-child(48) {
    fill: #eaf405;
}

.music > path:nth-child(49) {
    fill: grey;
}

.music > path:nth-child(50) {
    fill: #d83737;
}

.music > path:nth-child(51) {
    fill: #eaf405;
}




































/* 地圖二設定 */

.Hillary {
    width: 100px;
    height: 30px;
    background-color: #3d37d8;
    text-align: center;
    padding: 0;
    margin-left: 350px;
    margin-right: 100px;
}

.Hillary > p {
    color: white;
    margin: 0;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 20px;
}

.Trump {
    width: 100px;
    height: 30px;
    background-color: #d83737;
    text-align: center;
    padding: 0;
    margin-right: 8px;
}

.Trump > p {
    color: white;
    margin: 0;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 20px;
}


.election > path:nth-child(1) {
    fill: #3d37d8;
}

.election > path:nth-child(2) {
    fill: #d83737;
}

.election > path:nth-child(3) {
    fill: #d83737;
}

.election > path:nth-child(4) {
    fill: #3d37d8;
}

.election > path:nth-child(5) {
    fill: #d83737;
}

.election > path:nth-child(6) {
    fill: #3d37d8;
}

.election > path:nth-child(7) {
    fill: #d83737;
}

.election > path:nth-child(8) {
    fill: #3d37d8;
}

.election > path:nth-child(9) {
    fill: #3d37d8;
}

.election > path:nth-child(10) {
    fill: #3d37d8;
}

.election > path:nth-child(11) {
    fill: #3d37d8;
}

.election > path:nth-child(12) {
    fill: #3d37d8;
}

.election > path:nth-child(13) {
    fill: #d83737;
}

.election > path:nth-child(14) {
    fill: #d83737;
}

.election > path:nth-child(15) {
    fill: #d83737;
}

.election > path:nth-child(16) {
    fill: #d83737;
}

.election > path:nth-child(17) {
    fill: #d83737;
}

.election > path:nth-child(18) {
    fill: #d83737;
}

.election > path:nth-child(19) {
    fill: #d83737;
}

.election > path:nth-child(20) {
    fill: #d83737;
}

.election > path:nth-child(21) {
    fill: #d83737;
}

.election > path:nth-child(22) {
    fill: #d83737;
}

.election > path:nth-child(23) {
    fill: #d83737;
}

.election > path:nth-child(24) {
    fill: #3d37d8;
}

.election > path:nth-child(25) {
    fill: #3d37d8;
}

.election > path:nth-child(26) {
    fill: #3d37d8;
}

.election > path:nth-child(27) {
    fill: #3d37d8;
}

.election > path:nth-child(28) {
    fill: #3d37d8;
}

.election > path:nth-child(29) {
    fill: #d83737;
}

.election > path:nth-child(30) {
    fill: #d83737;
}

.election > path:nth-child(31) {
    fill: #d83737;
}

.election > path:nth-child(32) {
    fill: #d83737;
}

.election > path:nth-child(33) {
    fill: #d83737;
}

.election > path:nth-child(34) {
    fill: #3d37d8;
}

.election > path:nth-child(35) {
    fill: #d83737;
}

.election > path:nth-child(36) {
    fill: #d83737;
}

.election > path:nth-child(37) {
    fill: #d83737;
}

.election > path:nth-child(38) {
    fill: #d83737;
}

.election > path:nth-child(39) {
    fill: #d83737;
}

.election > path:nth-child(40) {
    fill: #3d37d8;
}

.election > path:nth-child(41) {
    fill: #d83737;
}

.election > path:nth-child(42) {
    fill: #d83737;
}

.election > path:nth-child(43) {
    fill: #3d37d8;
}

.election > path:nth-child(44) {
    fill: #3d37d8;
}

.election > path:nth-child(45) {
    fill: #3d37d8;
}

.election > path:nth-child(46) {
    fill: #3d37d8;
}

.election > path:nth-child(47) {
    fill: #3d37d8;
}

.election > path:nth-child(48) {
    fill: #d83737;
}

.election > path:nth-child(49) {
    fill: #3d37d8;
}

.election > path:nth-child(50) {
    fill: #d83737;
}

.election > path:nth-child(51) {
    fill: #d83737;
}
